* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Montserrat;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: rgba(0, 0, 0, 0.8);
}

.lead {
    font-size: 1.5rem;
}

.topTitle {
    position: absolute;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    margin-top: 3px;
    margin-left: 1790px;
    width: 100%;
    height: 20px;
}

.navbar {
    position: absolute;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.navbar ul {
    display: flex;
    width: 100%;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    font-size: 22px;
    color: #D8DBE2;
    font-family: 'Cinzel', serif;
    display: flex;
    line-height: 30px;
    text-decoration: none;
    padding: 5px 30px;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: skyblue;
}

.navbar ul li:nth-child(1) a {
    position: relative;
    margin-left: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* Scroll Snap */
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section#top h1 {
    font-size: 200px;
}


/* mouse */


/* .mouse {
    position: relative;
    margin: 50px auto;
    max-width: 100px;
    margin-top: 45%;
    margin-right: 3%;
    z-index: 4;
}

.mouse-icon {
    width: 25px;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    /*you can change 'white' to a hex color*/


/* border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    /*you can change 'white' to a hex color*/


/* border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}  */

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}


/* Section Images */

section#top {
    background: url(img/stay.gif) no-repeat center center/cover;
    top: 0;
    left: 0;
    max-width: 3000px;
    width: 100%;
    height: 100vh;
}

section#about {
    background: url(img/born.gif) no-repeat center center/cover;
    ;
}

section#service {
    background: url(img/Front.gif) no-repeat center center/cover;
    top: 0;
    left: 0;
    max-width: 3000px;
    width: 100%;
    height: 100vh;
}

section#contact {
    background: url(img/cross.gif) no-repeat center center/cover;
    ;
}


/* RWD */


/* RWD */


/* RWD */

@media only screen and (max-width: 768px) {
    .navbar ul {
        margin-top: 40px;
    }
    .navbar ul li a {
        width: 100%;
        font-size: 110%;
        line-height: 30%;
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 480px) {
    .navbar ul {
        margin-top: 40px;
    }
    .navbar ul li a {
        width: 100%;
        max-width: 375px;
        font-size: 110%;
        line-height: 30%;
        padding: 6px 4px;
        height: 20px;
    }
    section#top {
        background: url(img/kinetic.gif) no-repeat center center/cover;
    }
    section#about {
        background: url(img/vertical.gif) no-repeat center center/cover;
        ;
    }
}

@media only screen and (max-width: 415px) {
    .navbar ul {
        margin-top: 35px;
    }
    .navbar ul li a {
        width: 100%;
        max-width: 375px;
        font-size: 110%;
        line-height: 30%;
        padding: 6px 4px;
        height: 20px;
        font-size: 15px;
    }
}